/* Ensure the root takes the full width and height of the viewport */
#root {
  width: 100vw; /* 100% of the viewport width */
  height: 100vh; /* Full height */
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box; /* Ensures paddings and borders are included in the width */
  display: flex;
  flex-direction: column; /* Layout flows vertically */
  justify-content: flex-start; /* Adjusted to start content after header */
  align-items: center; /* Center the content horizontally */
}

/* Layout container to adjust for the header's height */
.layout-container {
  width: 100vw;  /* Full viewport width */
  height: 100%;  /* Full height */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Stack elements vertically */
  align-items: center; /* Horizontally centers content */
  padding-top: 20vh; /* Space for the fixed header */
}

/* Wrapper for content below the header */
.outlet-container {
  width: 100%;
  max-width: 1200px; /* Constrain width for larger screens */
  padding: 2rem; /* Optional padding */
  text-align: center; /* Center text within the container */
}


/* Body and HTML styles */
body, html {
  font-family: 'Poppins', sans-serif;
  color: #333;
  background-color: #FBE8E8;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
