
.Chatroom {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#root {
    padding: 0;
    width: 100vw;
}
.routes {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-right: 30px;
}
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 700;
    font-size: 32px;
    color: #000000;
    padding: 1rem;
}
.logo img {
    padding: 10px;

}
.chat {
    height: 80vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}
.chat .sent {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}
.chat .recieved {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.recieved p {
    background-color: lightblue;
    border: 1 px solid grey;
    border-radius: 5px;
}
.sent p {
     background-color: lightgreen;
    border: 1 px solid grey;
    border-radius: 5px;
}
.Chatroom input{
    border: 1px solid black;
    border-radius: 5px;
    width: 45rem;
    height: 2rem;
}

.Chatroom form {
    margin-bottom:20px;
}
