.header {
    position: sticky;
    background-color: #F7DDDD;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}
.Chatroom {
    width: 100vw;
    height: 100vh;
}
#root {
    padding: 0;
    width: 100vw;
}
.routes {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-right: 30px;
}
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 700;
    font-size: 32px;
    color: #000000;
    padding: 1rem;
}
.logo img {
    padding: 10px;

}
.chat {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}
.chat .sent {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}
.chat .recieved {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.recieved p {
    background-color: blue;
    border: 1 px solid grey;
    border-radius: 5px;
}
.sent p {
     background-color: green;
    border: 1 px solid grey;
    border-radius: 5px;
}
.Chatroom input{
    border: 1px solid black;
    border-radius: 5px;
    width: 15rem;
    height: 2rem;
}
