.Signup div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
form {
    display: flex;
    flex-direction: column;
    gap: 10px
}
.logo {
    height: 3rem;
    width: 3rem;
}

